.card {
    --bs-card-spacer-y: 7rem;
    --bs-card-spacer-x: 2rem;
}

.dataTables_filter {
    float: right;
}

.addTask {
    margin-left: 937px !important;
}

.dataTables_filter {
    float: right !important;
    border-radius: 0.375rem;
    height: 38px;
}

.inputSearch {
    border-radius: 0.375rem;
    height: 38px;
}